## Data types

### Strings

In the last chapter we introduced the idea of "strings". They are a way of representing normal human words inside a Python script. Strings start and end with double quotes (") e.g.,

`"Hello from Python!"`

is a string with three words and an exclamation mark as content.

Strings can contain numbers as well:

`"Today is the 10th of May 2023"`

And they can also be empty:

`""`

It is possible in Python to also use single quotes (`'`) to make strings, as long as the string starts and ends with the same type of quote, but it is convention to prefer double quotes.

### Exercise

Print any string using the Python `print` function.

In [13]:
print("Hi, my name is Chiara")

Hi, my name is Chiara

### Numbers

The other most common type of data that you'll find in Python scripts are numbers. There are two main types of number in Python:
- **Floats** (or floating point numbers) are a way of representing numbers with decimal places
- **Integers** are for representing whole numbers

When creating numbers in Python, you do not use quotes, you write the number directly. So:

`3.14159`

is a float and

`42`

is an integer.

### Variables

Of course, it not much use to have numbers and strings floating about with no connection to each other. We want to be able to give them names and combine them together. We assign names to data using the `=` sign. For example if we want to make some data and give it a name we can do it like:

In [3]:
pi = 3.14159

This has created a number `3.14159` and given it a name, `pi`. We can now use this name in other parts of the program to refer to that piece of data:

In [4]:
print(pi)

3.14159

Names in Python can contain upper and lower case letters, numbers and underscores (but can't start with a number). Chosing the correct name for a particular variable is an important task as a non-descriptive name (or worse, an incorrect name) will be very confusing for you and anyone reading your code. It is common in Python to name your variables with all lower case letters and use underscores to separate words.

So, for a variable which contains a number representing a distance in miles, avoid shortened names like `dm`, `distm` or `d` and instead use a name like `distance_in_miles`. Remember, code will be written once but read many times so make it easy to read.

These two instructions can be combined in the same cell:

In [5]:
pi = 3.14159
print(pi)

3.14159

The first line assigns the value to a variable named `pi` and the second one prints it.

### Exercise
Create a new cell and write two lines of code. The first line should create a string and give it a variable name and the second line should use that name to print.

In [14]:
words = "Today is Wednesday"

print(words)

Today is Wednesday

### Combining variables
Variables are more that just a way of labelling data, they also make it easier to do things with your data. If you have some numbers you can add, subtract, multiply and divide them as you would expect. The symbol for multiplication is `*` and the symbol for division is`/`.

In [7]:
distance_in_miles = 30
distance_in_km = distance_in_miles * 1.60934

print(distance_in_km)

48.2802

Here we created a variable `distance_in_mile` with the value of `30`. Then we used that variable in line two and multiplied it by a number (`distance_in_miles * 1.6093`) and assigned the result of that calculation to a new variable called `distance_in_k`. Finally, we printed out the new variable.

Likewise we can do addition:

In [8]:
temperature_in_celsius = 25.1
temperature_in_kelvin = temperature_in_celsius + 273.15

print(temperature_in_kelvin)

298.25

We can use some of the operations on strings as well. For examples, you can add together two strings to combine them.
Strings are joined with `+`, or repeated with `*`:

In [3]:
greeting = "Hello "
name = "Python"

message = greeting + name

print(message)

Hello Python

In [7]:

message2 = greeting*3
print(message2)

Hello Hello Hello

### Exercise

edit the variable `message` so that it is made by adding two strings, then print it out.

In [2]:
first_phrase = "Today is Wednesday"
second_phrase = " the 10th of May"

message = first_phrase + second_phrase

print(message)

Today is Wednesday the 10th of May

---

### Printing multiple things

So far we've been giving the `print` function a single argument to print a single thing but we can print many things at once if we give it multiple arguments. Arguments to functions in Python are separated by commas. The `print` function is designed so that it will print each of the arguments it was provided with, one after another on the same line, separated by spaces.

In [15]:
print("Hello, Python")

Hello, Python

### Exercise

Print a sentence, so that the two parts of the phrase are passed to `print` as separate arguments rather than adding them together and printing the combined message.

In [3]:
first_phrase = "Today is Wednesday"
second_phrase = "the 10th of May"

print(first_phrase, second_phrase)

Today is Wednesday the 10th of May

### Using Python as a calculator

Let's type some math stuff into Python and see what it does.

In [8]:
17+3

20

In [9]:
17-3

14

In [10]:
17*3

51

In [11]:
17/3

5.666666666666667

It's working, Python just calculates the result and echoes it back.

You can also write more complex expressions. Things are calculated in the same order as in math. The parentheses `(`
and `)` also work the same way.

In [12]:
((17 * 3) + 5 )/4

14.0