# Multi-dimensional arrays

One place that NumPy arrays really start excelling is that they are good at handling multi-dimensional data.

If you pass in a list-of-lists (of equal lengths) it will create a two-dimensional array:

In [1]:
# insert code here

In [2]:
# insert code here

You can ask any `array` for how many dimensions it has:

In [3]:
# insert code here

Or get more detail on exactly how large it is in each dimension with:

In [4]:
# insert code here

So it has two dimensions, both of size 3.

If you access a multi-dimensional array using a single number in the square brackets then it will give you the data by row. For example, to pull out the first row:

In [5]:
# insert code here

<div class="operation">
<table class="array">
<tbody>
  <tr>
    <td class="axis_label">0</td>
    <td class="selected">1</td><td class="selected">2</td><td class="selected">3</td>
  </tr>
  <tr>
    <td class="axis_label"></td>
    <td>4</td><td>5</td><td>6</td>
  </tr>
  <tr>
    <td class="axis_label"></td>
    <td>7</td><td>8</td><td>9</td>
  </tr>
</tbody>
</table>
</div>

or the second row:

In [6]:
# insert code here

<div class="operation">
<table class="array">
<tbody>
  <tr>
    <td class="axis_label"></td>
    <td>1</td><td>2</td><td>3</td>
  </tr>
  <tr>
    <td class="axis_label">1</td>
    <td class="selected">4</td><td class="selected">5</td><td class="selected">6</td>
  </tr>
  <tr>
    <td class="axis_label"></td>
    <td>7</td><td>8</td><td>9</td>
  </tr>
</tbody>
</table>
</div>

Then you can get individual elements by specifying multiple indices inside the square brackets. For example, to get the first row and the second column:

In [7]:
# insert code here

<div class="operation">
<table class="array">
<thead>
  <tr>
    <th></th>
    <th></th>
    <th class="axis_label">1</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="axis_label">0</td>
    <td>1</td><td class="selected">2</td><td>3</td>
  </tr>
  <tr>
    <td class="axis_label"></td>
    <td>4</td><td>5</td><td>6</td>
  </tr>
  <tr>
    <td class="axis_label"></td>
    <td>7</td><td>8</td><td>9</td>
  </tr>
</tbody>
</table>
</div>

This is useful as it also allows you to select the data by *column* using `:` to mean "all":

In [8]:
# insert code here

<div class="operation">
<table class="array">
<thead>
  <tr>
    <th></th>
    <th></th>
    <th class="axis_label">1</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="axis_label" rowspan="3">:</td>
    <td>1</td><td class="selected">2</td><td>3</td>
  </tr>
  <tr>
    <td>4</td><td class="selected">5</td><td>6</td>
  </tr>
  <tr>
    <td>7</td><td class="selected">8</td><td>9</td>
  </tr>
</tbody>
</table>
</div>

So, when the array is printed out, the order that you put indices into the `[]` when indexing first selects the "row" and then selects the "column". In NumPy-speak these are called *axes* and are numbered from 0 in order. In the example of our grid, they are:

<div class="operation">
<table class="array">
<thead>
  <tr>
    <th></th>
    <th class="axis_label" colspan="3">axis 1 →</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="axis_label vertical" rowspan="3">axis 0 →</td>
    <td>1</td><td>2</td><td>3</td>
  </tr>
  <tr>
    <td>4</td><td>5</td><td>6</td>
  </tr>
  <tr>
    <td>7</td><td>8</td><td>9</td>
  </tr>
</tbody>
</table>
</div>

### Exercise #

- Extract the number `7` using the correct combination of indices
- Extract the last column (the answer should be `[3 6 9]`)
- Extract just the last two elements from the middle row, i.e. giving `[5 6]`

In [9]:
# insert code here

### Even more dimensions

NumPy arrays can handle any number of dimensions up to 32. So you can make a three-dimensional cube of numbers with:

In [10]:
# insert code here

You can index the values in it just as before, separating each axes index with a comma:

In [11]:
# insert code here

Notice how the array is represented when it's printed. Each "row" of the cube is now a 2-D sub-array, separated by an blank line.

In labelled diagram form, it looks like:

<div class="operation">
<table class="array">
<tbody>
  <tr>
    <td class="axis_label vertical" rowspan="2">axis 0 →</td>
    <td>
      <table class="array">
        <thead>
          <tr>
            <th></th>
            <th class="axis_label" colspan="2">axis 2 →</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="axis_label vertical" rowspan="3">axis 1 →</td>
            <td>1</td><td>2</td>
          </tr>
          <tr>
            <td>3</td><td>4</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="array">
        <thead>
          <tr>
            <th></th>
            <th class="axis_label" colspan="2">axis 2 →</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="axis_label vertical" rowspan="3">axis 1 →</td>
            <td>5</td><td>6</td>
          </tr>
          <tr>
            <td>7</td><td>8</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>
</div>

See that the numbers along the row are always the last axis (they were axis 1 before, now they're axis 2).

### Exercise #

1. Find the number of dimensions and shape of the array `cube`.
2. Extract some more slices of the array, taking care to understand how the order of the indices relate to the data inside. Try to work out the indexing required to get the following results from `cube`:
    - ```
      8
      ```
    - ```
      [1 2]
      ```
    - ```
      [2 6]
      ```
    - ```
      [[3 4]
       [7 8]]
      ```

In [12]:
# insert code here

## Pre-filled arrays

Just like with one-dimensional array we can create multi-dimensional data with the built-in functions such as `np.zeros`:

In [13]:
# insert code here

`np.ones`:

In [14]:
# insert code here

and even more complex functions such as [`np.fromfunction`](https://numpy.org/doc/stable/reference/generated/numpy.fromfunction.html) which takes an argument of a function which, when called with $x$ and $y$ values, returns a corresponding output value for that coördinate:

In [15]:
# insert code here

## Plotting 2D data

Complex multi-dimensional arrays are hard to visualise as text, so let's see about displaying them graphically. The simplest way to do this is using matplotlib's [`imshow`](https://matplotlib.org/stable/api/_as_gen/matplotlib.axes.Axes.imshow.html) function:

In [16]:
# insert code here

This takes any 2D array and displays it as if it were an image. It will set the colour based on the value. One thing to be aware of is that the orign of the axes is in the top-left, rather than the bottom-left (due to conventions on how image data is stored). You can change this by passing `origin="lower"` to the function:

In [17]:
# insert code here

It's also useful to be able to display a colour bar as well the data itself, which you can do with `fig.colorbar` and passing it the return value of the `imshow` call:

In [18]:
# insert code here

You can change the [colour scheme](https://matplotlib.org/stable/tutorials/colors/colormaps.html) used to plot with the `cmap` argument:

In [19]:
# insert code here

There are other two-dimensional (and even three-dimensional) plotting types available, such as the [`contour` plot](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.contour.html):

In [20]:
# insert code here

### Exercise #

Load the data file included in the folder (`weather_data.npz`),  and grab the `"temperature"` array. This data is based on [ECMWF data](https://apps.ecmwf.int/codes/grib/param-db/?id=130) and is in units of Kelvin. It is three-dimensional with axes of altitude, latitude and longitude. The altitude axis is layered such that the 0<sup>th</sup> layer is ground-level and each layer beyond that increases in altitude.

You can load in the data with:

```python
with np.load("weather_data.npz") as weather:
    temperature = weather["temperature"]
```

Since this is three-dimensional data, it's worth exploring its shape first. Once you understand the data:

1. Grab the ground level slice
  - Calculate the average value of this slice (this should give you a single number)
  - Plot the entire slice
2. Calculate the mean of each column to make it two-dimensional
  - you can pass e.g. `axis=0` argument to `np.mean` to have it average along one axis only
  - Plot this array too
3. For the ground-level slice, calculate the average temperature by latitude
  - Plot this too

In [21]:
# insert code here